body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

.container h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.container a {
    color: aquamarine;
    font-size: 16px;
}